body {background-color:pink;}
img  {height:300px; width:240px; }
p    {font-size:25px;   font-family: 'Playball', cursive;}
h1   {text-decoration:underline;    font-family: 'Romanesco', cursive;  font-size:40px;}
.Katherine {font-size:60px; margin-left:800px;}
.image {margin-left:800px;}
li {font-family: 'Playball', cursive; font-size:25px;}